<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<section id="content">
      <section class="vbox">
        <header class="header bg-white b-b">
          <p>All News in Grid</p>
        </header>
        <section class="scrollable wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
             
               <% @news.each do |n| %>  
                <div class="col-lg-4 col-sm-6">
                  <section class="panel">
                    <div class="panel-body">
                      <div class="clearfix m-b">
                        <small class="text-muted pull-right"><%= time_ago_in_words(n.created_at)%> ago</small>
                        <div class="thumb-sm pull-left m-r">
                          <div class="fbphotobox"> 
                          <img src="<%= n.image_a %>" class="img-circle">
                        </div>
                        </div>
                        <div class="clear ">
                          <a href="#"><strong><%= n.title %></strong></a>
                          <small class="block text-muted"></small>
                        </div>
                        
                      </div>
                        <p>
                          <%= n.content.html_safe %>
                        </p>
                       <div class="pull-right">
                       <a href="<%= news_path(n) %>">view Detail</a>
                       </div> 
                     
                      <small class="">
                      <span id="like_<%=n.id%>">
                      <%= link_to '<i class="fa fa-thumbs-up" style="width:25px"></i>'.html_safe, "/news/like?news_id=#{n.id}", :remote => true, :onclick=>"$(this).hide();"  unless n.is_liked(current_user) %>
                        <a href="#"> </a> <b>Likes (<%= n.likes.count%>)</b>
                        </span>
                         <a href="#"><i class="fa fa-comment-o"></i> Comments (<span id="comment_<%= n.id %>"><%= n.comments.count %></span>)</a>
                      </small>
                    </div>
                    <footer class="panel-footer pos-rlt">
                      <span class="arrow top"></span>
                      <%= form_tag("/news/comment", :method=>"get", :class=>"pull-out", :remote=>true) do %>
                        <%= hidden_field_tag 'news_id', n.id %>
                        <input type="text" name="content" class="form-control no-border input-lg text-sm" id="comment_text_<%= n.id %>" placeholder="Write a comment...">
                      <%end%>
                    </footer>
                  </section>
                </div>
               <% end %>




              </div>
              <div class="text-center m-b">
                <i class="fa fa-spinner fa fa-spin"></i>
              </div>
            </div>
          </div>          
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>

  <script>
$(document).ready(function() {
$(".fbphotobox img").fbPhotoBox({
rightWidth: 360,
leftBgColor: "black",
rightBgColor: "white",
footerBgColor: "black",
overlayBgColor: "#1D1D1D",
onImageShow: function() {
$(".fbphotobox img").fbPhotoBox("addTags",
[{x:0.3,y:0.3,w:0.3,h:0.3}]
);
$(".fbphotobox-image-content").html('<div style="font-size:16px;">Testing Content</div>'+"this is kishopre ceruiku");
}
});
});
</script>
<style type="text/css">
.fbphotobox-main-container{
  border:0px solid #000 !important;
}

</style>