<section id="content">
      <section class="vbox">
        <header class="header bg-white b-b">
          <p>All News in Grid</p>
        </header>
        <section class="scrollable wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
             
               <% @news.each do |n| %>  
                <div class="col-lg-4 col-sm-6">
                  <section class="panel">
                    <div class="panel-body">
                      <div class="clearfix m-b">
                        <small class="text-muted pull-right"><%= time_ago_in_words(n.created_at)%> ago</small>
                        <a href="#" class="thumb-sm pull-left m-r">
                          <img src="<%= n.image_a %>" class="img-circle">
                        </a>
                        <div class="clear ">
                          <a href="#"><strong><%= n.title %></strong></a>
                          <small class="block text-muted"></small>
                        </div>
                        
                      </div>
                        <p>
                          <%= n.content.html_safe %>
                        </p>
                       <div class="pull-right">
                       <a href="<%= news_path(n) %>">view Detail</a>
                       </div> 
                     
                      <small class="">
                      <%= link_to '<i class="fa fa-thumbs-up" style="width:25px"></i>'.html_safe, "/news/like?news_id=#{n.id}", :remote => true, :id=>"like_#{n.id}" unless n.is_liked(current_user) %>
                        <a href="#"> </a> <b>Likes (<%= n.likes.count%>)</b>
                         <a href="#"><i class="fa fa-comment-o"></i> Comments (25)</a>
                      </small>
                    </div>
                    <footer class="panel-footer pos-rlt">
                      <span class="arrow top"></span>
                      <form class="pull-out">
                        <input type="text" class="form-control no-border input-lg text-sm" placeholder="Write a comment...">
                      </form>
                    </footer>
                  </section>
                </div>
               <% end %>




              </div>
              <div class="text-center m-b">
                <i class="fa fa-spinner fa fa-spin"></i>
              </div>
            </div>
          </div>          
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>