<!DOCTYPE html>
<html>
<head>
  <title>EiceApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <section class="hbox stretch">
 	
 <%= render "/shared/welcome_aside"%>

<%= yield %>
</section>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
